html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by brand image height */
  padding-top: 90px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.brand-name {
  font-size: 23pt;
  position: absolute;
  top: 1.5vh;
  color: rgba(117, 0, 255, 0.5) !important;
}

.navbar-toggler-off-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg class='bi bi-x' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.nav-item:hover {
  border-radius: 0.3rem;
  background-color: #dae0e5 !important;
}

.down-arrow-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

.list-group-item.active {
  z-index: 2;
  color: #495057;
  background-color: #007bff;
  border-color: #007bff;
  border-bottom-width: 2px;
  border-top-color: rgba(0, 0, 0, .125);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background: rgb(9, 95, 234);
}

.footer-bottom {
  width: auto;
  padding-top: 20px;
}

.table-row {
  cursor: pointer;
}

.border-bottom-2 {
  border-bottom-width: 2px !important;
}
